# Introducción al análisis de datos
# EDA (Análisis exploratorio de datos)
1. Cargar, guardar y manejar los datos (dataset) -> Pandas (dataframes)
2. Numpy (Trabajar de forma eficiente los arrays)
3. Visualización -> matplotlib

# Pandas
Basado en dataframes

In [9]:
import pandas as pd

### Fundamentos 
Tiene dos tipos de datos:
1. Serie
2. Dataframe

In [10]:
# Serie: Vector Unidimensional
paises = pd.Series(['Ecuador','Paraguay','Perú','Argentina','Colombia'])
paises

0      Ecuador
1     Paraguay
2         Perú
3    Argentina
4     Colombia
dtype: object

In [11]:
capitales = pd.Series(['Quito','Asunción','Lima','BA','Bogota'])
capitales

0       Quito
1    Asunción
2        Lima
3          BA
4      Bogota
dtype: object

In [12]:
# 2. Dataframes
# Vector de varias dimensiones (matriz)
paises_capitales = pd.DataFrame({'País': paises, 'Capital': capitales})
paises_capitales

        País   Capital
0    Ecuador     Quito
1   Paraguay  Asunción
2       Perú      Lima
3  Argentina        BA
4   Colombia    Bogota

Guardar un dataframe en un archivo csv

In [22]:
paises_capitales.to_csv('paises.csv', index=True)

In [28]:
dataPaises = pd.read_csv('paises.csv', index_col=0)
dataPaises

        País   Capital
0    Ecuador     Quito
1   Paraguay  Asunción
2       Perú      Lima
3  Argentina        BA
4   Colombia    Bogota